* {
	font-family: 'Zen Loop';
	font-weight: 700;
}

.gamewrapper {
	background: url(../images/gameBG2.jpeg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.game-header {
	flex-grow: 1;
}

#players {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#players h2 {
	font-weight: 700;
}

.online-players {
	list-style: none;
    display: flex;
	padding: 0;
}

.online-players li {
	border: solid;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px 20px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
	margin-right: 24px;
}

.online-players li:last-child {
	margin: 0;
}

p {
	font-size: 2em;
	text-align: center;
}

.game-header-title {
	display: flex;
    /* flex-direction: row-reverse;
    justify-content: center; */
}
.game-header-title img{
	width: 80px;
}

.room-name {
	display: flex;
}

.room-name-tagline {
	margin-top: auto;
}