* {
	font-family: 'Zen Loop';
	font-weight: 700;
}

.gamewrapper {
	background: url(../images/gameBG2.jpeg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

p {
	font-size: 2em;
	text-align: center;
}

.game-header-title {
	display: flex;
	margin: 20px 0px 0px 20px;
}
.game-header-title img{
	width: 100px;
}

.game-tagline {
	margin-right: 20px;
}

.room-name {
	display: flex;
	font-size: 1.5em;
	text-transform: uppercase;
}

.room-name-tagline {
	margin-top: auto;
}

.disconnected {
    font-size: 1.1em;
    text-transform: uppercase;
    border: solid red;
    background-color: red;
    border-radius: 15px;
	width: fit-content;
	padding: 0 20px;
	margin: 20px 0 0 20px;
}

.disconnected-tag {
	margin: 0;
	color: white;
}