.gamewrapper {
	background: url(../images/gameBG.png);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.game-title {
	margin: 0;
}
