.loser-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wave2 {
    background-image: url("../images/lost.gif");
    background-size: cover;
	height: 500px;
    font-size: 5.5em;
	border-radius: 10px;
	width: 50rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);
	text-align: center;

	backdrop-filter: blur(5px);
}

.wave2-tag {
    color: rgba(255, 255, 255, 0.15);
	margin: 0;
	padding-top: 150px;
}

.loser-wrapper {
	margin-bottom: 40px;

}