.loadingRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

.loadingRoom-tagline {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.loadingRoom-img {
    max-width: 300px;
    padding-bottom: 100px;
}