
.heading-title {
    margin-top: 20px;
    text-align: center;
}

.game-container {
    display: flex;
    padding-bottom: 40px;
    flex-grow: 1;
    align-items: center;
}

.game-wrapper {
    width: 400px;
	height: 400px;
	margin: 0 auto;
    margin-top: 1em;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    background-color: rgb(201, 221, 250); 
    border: solid; 
}

.game-wrapper-enemy .box {
    cursor: pointer;
}

.game-wrapper-enemy .box:hover {
    background-color: #9bc3ff;
}

.box {
  border: 1px solid white;
  display: flex;
}

.game-board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game-title {
    font-size: 2em;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 700;
}


.ship2 {
    background-color: green;
    border: green;
}

.ship2Second {
    background-color: green;
    border: green;
}

.ship3 {
    background-color: yellow;
    border: yellow;
}

.ship4 {
    background-color: orange;
    border: orange;
}



.hitShip {
    background-image: url(./assets/images/bomb.png);
    background-repeat: no-repeat;
    background-position: center;
}
.missShip {
    background-image: url(./assets/images/xmark.png);
    background-repeat: no-repeat;
    background-position: center;
}
.ships-remain-text {
    /* margin-top: 40px; */
    text-align: center;
    font-size: 2em;
}
.ships-remain-text-bold{
    font-weight: 900;
}

.hide {
    display: none;
}
.winner {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    display: block;
}

.btn-success {
    font-weight: 700;
    font-size: 1.6em;
}

.turn-tag {
    text-align: center;
}

.whose-turn {
    font-size: 2em;
    font-weight: 900;
}

.directions-buttons {
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin-bottom: 30px;
}

.directions-buttons button {
    margin-right: 0;
}

.messageToPlayer {
    width: max-content;
    margin: auto;
    margin-top: 10px;
    background: rgba(52, 246, 39, 0.6)
}
.messageToPlayer2 {
    width: max-content;
    margin: auto;
    color: white;
    margin-top: 10px;
    background: rgba(245, 6, 6, 0.8)
}
.text-directions {
    margin-bottom: 0;
    margin-top: 30px;
}

.clickedButton{
    background-color: rgb(6, 247, 6);
}
.whose-turn-name {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 9px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(5px);
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title-you {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 0 9px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(5px);
}

.sunk-ship {
    background-color: red;
}