
.heading-title {
    margin-top: 20px;
    text-align: center;
}

.game-container {
    display: flex;
    padding-bottom: 40px;
    flex-grow: 1;
    align-items: center;
    flex-direction: row-reverse;
}

.game-wrapper {
    width: 400px;
	height: 400px;
	margin: 0 auto;
    margin-top: 1em;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    background-color: rgb(201, 221, 250); 
    border: solid; 
}

.box {
  border: 1px solid white;
  display: flex;
}

.game-board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.game-title {
    font-size: 3em;
    color: black;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 700;
}


.ship2 {
    background-color: green;
    border: green;
}

.ship2Second {
    background-color: green;
    border: green;
}

.ship3 {
    background-color: yellow;
    border: yellow;
}

.ship4 {
    background-color: orange;
    border: orange;
}



.hitShip {
    background-image: url(./images/bomb.png);
    background-repeat: no-repeat;
    background-position: center;
}
.missShip {
    background-image: url(./images/xmark.png);
    background-repeat: no-repeat;
    background-position: center;
}
.ships-remain-text {
    /* margin-top: 40px; */
    text-align: center;
    font-size: 2em;
}
.ships-remain-text-bold{
    font-weight: 900;
}

.hide {
    display: none;
}
.winner {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    display: block;
}

.btn-success {
    font-weight: 700;
    font-size: 1.6em;
}

.whose-turn {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}